.NavigationItems {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    align-items: center;
    height: 100%;
    width: auto;
}

@media (min-width: 500px) {
    .NavigationItem {
        flex-flow: row;
    }
}

@media (max-width: 499px) {
    .NavigationItems {
        display: inline;
    }
}